{{>layouts/header}}
<form class="d-flex" action="/hospitals/search" method="get" role="search">
    {{#keyword}}
    <input class="form-control me-2" name = "keyword" value="{{keyword}}" type="search" placeholder="지역명으로 병원 검색하기" aria-label="Search">
    {{/keyword}}
    <button class="btn btn-outline-success" type="submit">검색</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">병원명</th>
        <th scope="col">병원 주소</th>
    </tr>
    </thead>

    <tbody class = "table-group-divisor">
    {{#hospitalList}}
    <tr>
        <th>{{id}}</th>
        <td>
            {{#hospitalName}}{{hospitalName}}{{/hospitalName}}
            {{^hospitalName}}nothing{{/hospitalName}}
        </td>

        <td>
            {{#roadNameAddress}}{{roadNameAddress}}{{/roadNameAddress}}
            {{^roadNameAddress}}nothing{{/roadNameAddress}}
        </td>
    </tr>
    {{/hospitalList}}
    </tbody>
</table>

<div class="pagination justify-content-center">
    {{#keyword}}
        <a href="?keyword={{#keyword}}{{keyword}}{{/keyword}}&page={{previous}}" role="button" class="btn btn-dark ">이전</a>
        <a href="?keyword={{#keyword}}{{keyword}}{{/keyword}}&page={{next}}" role="button" class="btn btn-dark">다음</a>
    {{/keyword}}

    {{^keyword}}
            <a href="&page={{previous}}" role="button" class="btn btn-dark ">이전</a>
            <a href="&page={{next}}" role="button" class="btn btn-dark">다음</a>
    {{/keyword}}

</div>
{{>layouts/footer}}