{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">병원명</th>
        <th scope="col">병원 주소</th>
    </tr>
    </thead>

    <tbody class = "table-group-divisor">
    {{#hospitalList}}
    <tr>
        <th>{{id}}</th>
        <td>
            {{#hospitalName}}{{hospitalName}}{{/hospitalName}}
            {{^hospitalName}}nothing{{/hospitalName}}
        </td>

        <td>
            {{#roadNameAddress}}{{roadNameAddress}}{{/roadNameAddress}}
            {{^roadNameAddress}}nothing{{/roadNameAddress}}
        </td>
    </tr>
    {{/hospitalList}}
    </tbody>
</table>

<div class="pagination justify-content-center">
    <a href="?page={{previous}}" role="button" class="btn btn-dark ">이전</a>
    <a href="?page={{next}}" role="button" class="btn btn-dark">다음</a>
</div>
{{>layouts/footer}}